/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.floatRightImage
{
  position: relative;
  float: right;
  display:block;
  padding: 0 0 0 30px;
}